<!--
@author: Enrico Garaiman
-->

<!DOCTYPE html>
<html>
<head>
	<title>Actualizare avocat</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!--  Icons -->
	<script src="https://kit.fontawesome.com/d8dbbaf693.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark my-bg-transparent fixed-top">
		   <a class="navbar-brand" href="{{ url_for('login') }}">
		    <img src="{{ url_for('static', filename='images/logo.png') }}" class="my_animation" width="30" height="30" alt="LOGO">
		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav ml-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="{{ url_for('login') }}"><i class="fas fa-home"> </i> Pagina principala</a>
		      </li>
			  <li class="nav-item active">
			    <a class="nav-link" href="{{ url_for('avocati_clienti') }}"><i class="fas fa-list"> </i> Avocati & Clienti</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="{{ url_for('cazuri') }}"><i class="fas fa-gavel"> </i> Cazurile firmei</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="{{ url_for('adaugare_avocati_clienti') }}"><i class="fas fa-user-plus"> </i> Adaugare Avocati & Clienti</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="{{ url_for('adauga_caz') }}"><i class="fas fa-plus"> </i> Adaugare caz</a>
			  </li>
			  <li class="nav-item">
			  	<a class="nav-link btn btn-danger" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"> </i> Logout</a>
			  </li>
		    </ul>
		  </div>
		</nav>
    </header>
    <section style="background-image: url({{ url_for('static',filename = '/images/secondary-bg.jpg')}});" class="secondary-bg d-flex h-100" id="avocati_clienti">
		<div class="justify-content-center align-self-center mx-auto adauga_caz">
        <form method="post">
        		<div class="form-group">
				    <label for="input">ID Avocat</label>
					<input type="text" id="input" class="form-control" name="idavocat" size="30" value="{{avocat['idavocat']}}" readonly/>
           		</div>
           		<div class="form-group">
				  <label for="input1">Prenumele avocatului</label>
				  <input name=prenumeAvocat type="text" id="input1" value="{{avocat['prenume']}}" class="form-control white-text" placeholder="Tastati prenumele avocatului" size=30 required>
				</div>
				<div class="form-group">
				  <label for="input2">Numele avocatului</label>
				  <input name="numeAvocat" type="text" id="input2" value="{{avocat['nume']}}" class="form-control white-text" placeholder="Tastati numele avocatului" size=30 required>
				</div>
				<div class="form-group">
				  <label for="select1">Functia</label>
				  <select NAME="functie" class="form-control" id="select1" required>
    						{% for f in functii %}
					  		{% if f == avocat['functie'] %}
				                  <option selected = "yes" value = "{{f}}">{{f}}</option>
					  		{% else %}
				                  <option value = "{{f}}">{{f}}</option>
					  		{% endif %}
					  		{% endfor %}
					</select>
				</div>
				<div class="form-group">
				  <label for="input3">Asociat</label>
				  <input name="asociat" type="text" id="input3" value="{{avocat['asociat']}}" class="form-control white-text" placeholder="Tastati asociatul(optional)" size=30>
				</div>
				<div class="form-group">
				  <label for="input4">Parola</label>
				  <input name="parola" type="text" id="input4" class="form-control white-text" value="{{avocat['parola']}}" placeholder="Tastati parola(optional)" size=30>
				</div>
			    <input type="submit" name="update_avocat" class="btn btn btn-danger delete my_animation" value="Actualizare avocat" onclick="return confirm('Esti sigur ca vrei sa modifici avocatul?')">
				</form>
            </div>
    </section>
    <footer style="background-image: url({{ url_for('static',filename = '/images/footerbg.jpg')}});">
            {% include 'footer.html' %}
    </footer>

    <!-- JavaScript Bootstrap, jquery, ajax -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

