<!--
@author: Enrico Garaiman
-->

<!DOCTYPE html>
<html>
<head>
	<title>Actualizare avocat</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!--  Icons -->
	<script src="https://kit.fontawesome.com/d8dbbaf693.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark my-bg-transparent fixed-top">
		   <a class="navbar-brand" href="{{ url_for('login') }}">
		    <img src="{{ url_for('static', filename='images/logo.png') }}" class="my_animation" width="30" height="30" alt="LOGO">
		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav ml-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="{{ url_for('login') }}"><i class="fas fa-home"> </i> Pagina principala</a>
		      </li>
			  <li class="nav-item">
			    <a class="nav-link" href="{{ url_for('avocati_clienti') }}"><i class="fas fa-list"> </i> Avocati & Clienti</a>
			  </li>
			  <li class="nav-item active">
			    <a class="nav-link" href="{{ url_for('cazuri') }}"><i class="fas fa-gavel"> </i> Cazurile firmei</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="{{ url_for('adaugare_avocati_clienti') }}"><i class="fas fa-user-plus"> </i> Adaugare Avocati & Clienti</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="{{ url_for('adauga_caz') }}"><i class="fas fa-plus"> </i> Adaugare caz</a>
			  </li>
			  <li class="nav-item">
			  	<a class="nav-link btn btn-danger" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"> </i> Logout</a>
			  </li>
		    </ul>
		  </div>
		</nav>
    </header>
    <section style="background-image: url({{ url_for('static',filename = '/images/secondary-bg.jpg')}});" class="secondary-bg d-flex h-100">
		<div class="justify-content-center align-self-center mx-auto adauga_caz">
        <form method="post">
	        	<div class="form-group">
				    <label for="input">ID Caz</label>
					<input type="text" id="input" class="form-control" name="idcaz" size="30" value="{{caz['idcaz']}}" readonly/>
           		</div>
           		<div class="form-group">
				  <label for="input1">Denumirea cazului</label>
				  <input name="numele_cazului" type="text" id="input1" class="form-control" placeholder="Tastati denumirea cazului" size=30 value="{{caz['numele_cazului']}}" required>
				</div>
				<div class="form-group">
				    <label for="select1">Avocatul reprezentant</label>
					<select NAME="idavocat" class="form-control" id="select1" required>
                        {% for avocat in avocati %}
                        {% if avocat['idavocat'] != caz['idavocat'] %}
                        <option VALUE="{{avocat['idavocat']}}">{{avocat['prenume']}} {{avocat['nume']}}, {{avocat['functie']}}</option>
                        {% else %}
                        <option selected="yes" VALUE="{{avocat['idavocat']}}">{{avocat['prenume']}} {{avocat['nume']}}, {{avocat['functie']}}</option>
                        {% endif %}
                        {% endfor %}
					</select>
				</div>
				<div class="form-group">
				   	<label for="select2">Clientul reprezentat</label>
					<select NAME="idclient" class="form-control" id="select2" required>
                        {% for client in clienti %}
                        {% if client['idclient'] != caz['idclient'] %}
                        <option VALUE="{{client['idclient']}}">{{client['denumire_firma']}}, {{client['prenume_reprezentant']}} {{client['nume_reprezentant']}}, {{client['domeniu']}}</option>
                        {% else %}
                        <option selected="yes" VALUE="{{client['idclient']}}">{{client['denumire_firma']}}, {{client['prenume_reprezentant']}} {{client['nume_reprezentant']}}, {{client['domeniu']}}</option>
                        {% endif %}
                        {% endfor %}
					</select>
				</div>

	            <div class="form-group">
				  <label for="start-date">Data cazului</label>
				  <input id="today" name="data" type="date"  class="form-control datepicker" value="{{caz['data']}}"/>
				</div>
				<div class="form-group">
				   	<label for="select3">Status</label>
					<select NAME="status" class="form-control" id="select3" required>
                        {% for stare in stari %}
                        {% if caz['status'] != stare %}
                        <option VALUE="{{stare}}">{{stare}}</option>
                        {% else %}
                        <option selected="yes" VALUE="{{stare}}">{{stare}}</option>
                        {% endif %}
                        {% endfor %}
					</select>
				</div>
                <input type="submit" class="btn btn btn-danger delete my_animation" value="Actualizeaza caz" name="update" onclick="return confirm('Esti sigur ca vrei sa modifici cazul?')">
	        </form>
            </div>
    </section>
    <footer style="background-image: url({{ url_for('static',filename = '/images/footerbg.jpg')}});">
            {% include 'footer.html' %}
    </footer>

    <!-- JavaScript Bootstrap, jquery, ajax -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

